{% extends 'base.html'%}
{% block styles%} {{ super() }}

<link rel="stylesheet" href="../static/css/index.css"> 
{% endblock %}

{% block content %}
<div class="jumbotron" style="margin-top:0; background-color: grey;">
  <h2 class="text-center" >PITCH WITH US;</h2>
  <p class="text-center"> have 60 seconds to impress someone and make something great.!!!</p>
</div> 

<body >

    <div class="container">  
      <div class="col-sm" >
        <div class=" card col-sm mt-2">
          <div class="well well-lg p-3" id="card" style="text-align: center;">
              <h3>Product Pitch</h3>
              <hr>
              <p>Any product that needs a manual to work is broken.</p> </p>
              <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New Pitch</a></button><br><br>
              <button type="button" class="btn btn-outline-primary"><a href="/categories/Adverts">Read More</a></button>
          </div>
      </div>
      </div>
      <div class="col-sm">
        <div class=" card col-sm mt-2">
          <div class="well well-lg p-3" id="card" style="text-align: center;">
              <h3>Adverting Pitch</h3>
              <hr>
              <p>“The difference between the almost right word and the right word is the difference between the lightning bug and the lightning.” </p> </p>
              <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New Pitch</a></button><br><br>
              <button type="button" class="btn btn-outline-primary"><a href="/categories/Adverts">Read More</a></button>
          </div>
      </div>
      </div>

      <div class="col-sm">
        <div class=" card col-sm mt-2">
          <div class="well well-lg p-3" id="card" style="text-align: center;">
              <h3>Iterview Pitches</h3>
              <hr>
              <p>“It’s not whether you get knocked down. It’s whether you get up.”</p> </p>
              <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Enter a New Pitch</a></button><br><br>
              <button type="button" class="btn btn-outline-primary"><a href="/categories/Adverts">Read More</a></button>
          </div>
      </div>
      </div>


    </div>
  
       
  </body>
    <br><br>
    
  <footer class="page-footer font-small pt-4 mt-3 ">
    <div class="container">
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
        <h5 class="mb-1">One Minute Pitch</h5>
        </li>
    </ul>
    </div>
    <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    </div>
</footer>
    {% endblock%}
